<div class="panel">
     <div class="location">
        <img class="flag" [src]="getFlagLink(nextEvent.location)" />
        {{nextEvent.location}}
    </div>
    <div class="event-type"><i>{{nextEvent.eventType}}</i></div>

    <table class="countdown">
        <tr class="units">
            <td>days</td>
            <td>hours</td>
            <td>mins</td>
            <td>secs</td>
        </tr>
        <tr class="digits">
            <td id="days"></td>
            <td id="hours"></td>
            <td id="mins"></td>
            <td id="seconds"></td>
        </tr>
    </table>
</div>
