@import '../../../styles.scss';

.panel {
    align-items: center;
    display: flex;
    height: 40px;

    .flag {
        border: 1px solid grey;
        border-radius: 2px;
        height: 16px;
        margin: 0 8px 3px 8px;
        vertical-align: middle;
    }

    .event-type {
        padding: 0 12px;
    }

    .countdown {
        .units {
            font-size: 10px;
        }

        .numbers {
            font-size: 14px;
        }

        td {
            line-height: 14px;
            padding: 0 4px;
            text-align: center;
        }
    }
}
