@import '../../styles.scss';

.mat-table {   
    margin-top: 12px;

    th {
        border: none;
        padding: 4px;
        text-align: center;

        &.user, &.stats {
            width: 80px;
        }
    }

    th.event, th.circuit {
        width: 70px;
    }

    .flag {
        border: 1px solid grey;
        border-radius: 2px;
        height: 16px;
    }

    .current-user {
        color: $blue-800;
    }

    .mat-cell {
        border: none;
        padding: 8px;

        .circuit {
            height: 40px;
            width: 55px;
        }
    }

    tr:nth-child(even) {
        background-color: $grey-100;
    }

    &.dark {
        .current-user {
            color: $blue-200;
        }

        tr:nth-child(even) {
            background-color: $grey-700;
        }
    }
}

.mat-spinner {
    display: inline-block;
}
