@import '../../styles.scss';


.container {
    height: 100%;
    overflow: auto;
}

.mat-table {   
    th {
        border: none;
        padding: 4px;
        text-align: center;

        &.user {
            vertical-align: top;

            .place {
                font-size: 16px;
                padding-top: 8px;
            }

            .name {
                height: 40px;
            }
        }

        &.user, &.stats {
            width: 80px;
        }
    }

    th.event {
        width: 170px;

        .mat-paginator {
            background-color: transparent;
        }
         
        ::ng-deep {
            .mat-paginator-range-actions {
                display: block;
            }

            .mat-paginator-container {
                padding: 0;

                .mat-paginator-page-size {
                    display: none;
                }
            }

            .mat-paginator-range-label {
                margin: 0;
            }
        }
    }

    .flag {
        border: 1px solid grey;
        border-radius: 2px;
        height: 16px;
    }

    .current-user {
        color: $blue-800;
    }

    .mat-cell {
        border: none;
        padding: 8px;
        vertical-align: bottom;

        .circuit {
            height: 40px;
            vertical-align: middle;
            width: 55px;
        }

        &.event {
            display: flex;
            vertical-align: bottom;

            .country {
                padding: 0 14px;
            }
        }

        &.points {
            width: 80px;
        }

        .user-prediction {
            vertical-align: middle;

            &.current {
                cursor: pointer;
            }

            &.not-current {
                color: $grey-500;
                padding: 8px;
            }

            &.hidden {
                color: transparent;
                padding: 8px;
            }
        }
    }

    tr:nth-child(even) {
        background-color: $grey-250;
    }

    tr:nth-child(odd) {
        background-color: $grey-100;
    }

    &.dark {
        .current-user {
            color: $blue-200;
        }

        tr:nth-child(even) {
            background-color: $grey-750;
        }

        tr:nth-child(odd) {
            background-color: $grey-800;
        }
    }
}

.mat-spinner {
    display: inline-block;
}
