@import '../../styles.scss';

::ng-deep .mat-toolbar.mat-toolbar-multiple-rows {
    min-height: $toolbar-height;
}

.mat-toolbar-row {
    height: $toolbar-height;

    .logo {
        height: 37px;
        padding-right: 12px;
    }

    .spacer {
        flex: 1 1 auto;
    }
}
