@import '../../styles.scss';

::ng-deep .mat-toolbar-multiple-rows {
    min-height: $toolbar-height;
}

.mat-toolbar-row {
    background-color: $main-color-light;
    color: $main-color-dark;
    height: $toolbar-height;

    .spacer {
        flex: 1 1 auto;
    }
}
