@import '../../styles.scss';

.standing {
    position: fixed;
    margin: 0 0 0 30px;
    top: 12px;
    width: 270px;

    .drag-icon {
        color: $grey-500;
        cursor: grab;
        position: absolute;
        right: 6px;
        top: 6px;
    }

    .mat-table {
        width: 100%;

        .title {
            cursor: move;
        }

        .mat-header-row, .mat-row {
            height: 32px;
        }

        .mat-header-cell, .mat-cell {
            padding: 6px;
        }

        .mat-header-cell {
            text-align: center;
        }

        .mat-cell {
            font-size: 14px;
            font-weight: 500;

            &.driver {
                text-align: left;

                .bolid {
                    padding: 0 12px;
                    vertical-align: middle;
                    width: 80px;
                }

                .name {
                    vertical-align: middle;
                }
            }
        }
    }   
}

.standing, .mat-header-cell, .mat-cell {
    background-color: $grey-100;
}

.dark {
    &.standing, .mat-header-cell, .mat-cell {
        background-color: $grey-800;
    }
}
