@import '../../styles.scss';

.standing {
    position: fixed;
    margin: 0 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;

    .drag-icon {
        color: $grey-500;
        cursor: grab;
        position: absolute;
        right: 6px;
        top: 6px;
    }

    .mat-table {
        width: 100%;

        .title {
            cursor: move;
        }

        .mat-header-row, .mat-row {
            height: 32px;
        }

        .mat-header-cell, .mat-cell {
            padding: 6px;
        }

        .mat-header-cell {
            text-align: center;
        }

        .mat-cell {
            font-size: 12px;
            font-weight: 500;
        }
    }   
}