<mat-card *ngIf="{
    isDarkMode: isDarkMode | async,
    isLockedLayout: isLockedLayout | async
} as data" class="standing mat-elevation-z8">
    <mat-icon *ngIf="!data.isLockedLayout" class="drag-icon">drag_indicator</mat-icon>
    <h1 class="title">Drivers</h1>

    <table mat-table [class.dark]="data.isDarkMode" [dataSource]="driverStandings">
        <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef>Plc</th>
            <td mat-cell *matCellDef="let driverStanding">
                {{driverStanding.position}}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Driver</th>
            <td class="driver" mat-cell *matCellDef="let driverStanding">
                <img class="bolid" [src]="getBolidPath(driverStanding.Driver.familyName)" />
                <span class="name">{{driverStanding.Driver.familyName}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef>Pts</th>
            <td mat-cell *matCellDef="let driverStanding">
                {{driverStanding.points}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</mat-card>
