h2, h3, .button-bar {
    text-align: center;
}

.places {
    display: flex;

    .event {
        margin: 24px;
        padding: 24px;
        text-align: center;
        width: 280px;

        .lock {
            font-size: 20px;
            vertical-align: sub;
        }

        .mat-form-field {
            width: 240px;
        }
    }
}

.bolid {
    vertical-align: middle;
    width: 80px;
}

::ng-deep .mat-select-value {
    height: 23px;
}


.name, ::ng-deep .mat-select-value-text span {
    font: 500 16px/20px Roboto;
    padding-left: 10px;
    vertical-align: middle;
}

.errors {
    display: flex;
    height: 32px;
    justify-content: space-around;
}

.mat-raised-button {
    margin: 8px;
}
