@import '../../styles.scss';


h2, h3, .button-bar {
    text-align: center;
}

.places {
    display: flex;

    .event {
        margin: 24px;
        padding: 24px;
        text-align: center;
        width: 280px;

        .help {
            font-size: 18px;
            vertical-align: sub;
        }

        .lock {
            font-size: 20px;
            vertical-align: sub;
        }

        .mat-form-field {
            width: 240px;
        }

        mat-radio-button {
            &.mat-radio-checked {
                color: $blue-800;
            }

            &:not(.mat-radio-checked) {
                opacity: .4;
            }

            &.none {
                padding: 12px;
            }
        }

        .mat-radio-group.team-selection .mat-radio-button {
            padding: 16px 4px;
        }
    }
}

.dark .event mat-radio-button.mat-radio-checked {
    color: $blue-200;
}

.bolid {
    vertical-align: middle;
    width: 80px;
}

::ng-deep {
    .mat-select-value {
        height: 23px;
    }

    .mat-radio-container {
        display: none !important;
    }
}


.name, ::ng-deep .mat-select-value-text span {
    font: 500 16px/20px Roboto;
    padding-left: 10px;
    vertical-align: middle;
}

.errors {
    display: flex;
    height: 32px;
    justify-content: space-around;
}

.mat-raised-button {
    margin: 8px;
}
