h2, h3, .button-bar {
    text-align: center;
}

.prediction-form {
    display: flex;

    .event {
        padding: 0 24px;

        .mat-form-field {
            width: 240px;
        }
    }
}

.bolid {
    vertical-align: middle;
    width: 80px;
}

::ng-deep .mat-select-value {
    height: 23px;
}


.name, ::ng-deep .mat-select-value-text span {
    font: 500 16px/20px Roboto;
    padding-left: 10px;
    vertical-align: middle;
}

.mat-raised-button {
    margin: 8px;
}
