@import '../styles.scss';

toolbar {
    box-shadow: 2px 2px 5px $grey-500;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.page-container {
    bottom: 0;
    display: flex;
    left: 0;
    padding: 20px 32px;
    position: absolute;
    right: 0;
    text-align: center;
    top: $toolbar-height;
}
