@import '../styles.scss';

toolbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
    box-shadow: 2px 2px 5px $grey-300;
}

.page-container {
    bottom: 0;
    color: white;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: $toolbar-height;

    h1 {
        font-size: 48px;
    }

    h3 {
        font-size: 24px;
    }
}