<!-- <side-menu></side-menu> -->
<toolbar></toolbar>

<div *ngIf="{
  currentUser: currentUser | async,
  isLockedLayout: isLockedLayout | async,
  page: page | async
} as data" class="page-container">
  <full-results [class.disabled]="data.page !== Page.FullResults || !data.currentUser"></full-results>
    
  <drivers-standing 
      cdkDrag
      [class.disabled]="data.page !== Page.FullResults"
      [cdkDragDisabled]="data.isLockedLayout"
      [cdkDragFreeDragPosition]="savedDriverStandingPosition"
      (cdkDragEnded)="saveDriverStandingsPosition($event)">
  </drivers-standing>

  <users-standing 
      cdkDrag
      [class.disabled]="data.page !== Page.FullResults"
      [cdkDragDisabled]="data.isLockedLayout"
      [cdkDragFreeDragPosition]="savedUserStandingPosition"
      (cdkDragEnded)="saveUserStandingsPosition($event)">
  </users-standing>

  <div [class.disabled]="data.page !== Page.Charts">
    <charts></charts>
  </div>
</div>

<router-outlet></router-outlet>
