@import '../styles.scss';


side-menu {
    top: $toolbar-height;
}

toolbar {
    box-shadow: 2px 2px 5px $grey-500;
    left: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
}

.page-container {
    bottom: -24px;
    left: $side-menu-width;
    padding: 20px 32px;
    position: absolute;
    right: 0;
    text-align: center;
    top: $toolbar-height;
}
