<h2>Log in</h2>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <p>
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="hasError('username', 'usernameNotExist')">Username does not exist</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
            <mat-error *ngIf="hasError('password', 'invalidPassword')">Password is invalid</mat-error>        
        </mat-form-field>
    </p>

    <p>
        <mat-checkbox class="keep-signed-in" color="primary" (change)='keepSignedIn = !keepSignedIn'>Keep me signed in</mat-checkbox>
    </p>

    <div class="button-bar">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
        <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
    </div>
</form>
