@import '../../styles.scss';

.standing {
    position: fixed;
    margin: 0 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;

    .mat-table {
        width: 100%;

        .title {
            cursor: move;
        }

        .mat-header-row, .mat-row {
            height: 36px;
        }

        .mat-header-cell, .mat-cell {
            padding: 8px;
        }

        .mat-header-cell {
            text-align: center;
        }

        .mat-cell {
            font-size: 12px;
            font-weight: 500;

            &.current-user {
                color: $blue-800;
            }
        }

        
        &.dark {
            .current-user {
                color: $blue-200;
            }
        }
    }   
}

