@import '../../styles.scss';


$tile-size: 280px;


:host {
    align-items: center;
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
}

.container {
    padding-top: 12px;

    .row {
        align-items: center;
        display: flex;
        justify-content: center;
        
        .mat-card {
            margin: 16px;
            max-height: $tile-size;
            max-width: $tile-size;
            min-height: $tile-size;
            min-width: $tile-size;

            .tile-content {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                img {
                    height: 24px;
                    padding-bottom: 7px;
                    padding-right: 7px;
                    vertical-align: middle;
                }

                span {
                    line-height: 24px;
                }
            }

            .button-bar {
                bottom: 8px;
                display: flex;
                left: 50%;
                position: absolute;
                text-align: center;
                transform: translateX(-50%);

                .mat-icon {
                    padding-right: 8px;
                }
            }
        }
    }
}
