@import '../../styles.scss';


:host {
    align-items: center;
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
}

.container {
    padding-top: 12px;

    .row {
        align-items: center;
        display: flex;
        justify-content: center;
        
        .mat-card {
            margin: 16px;
            min-height: 240px;
            min-width: 240px;

            .button-bar {
                bottom: 8px;
                display: flex;
                left: 50%;
                position: absolute;
                text-align: center;
                transform: translateX(-50%);

                .mat-icon {
                    padding-right: 8px;
                }
            }
        }
    }
}
