@import '../../styles.scss';


:host {
    align-items: center;
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    width: 100%;
    
    .mat-card {
        height: 250px;
        margin: 16px;
        width: 250px;

        .button-bar {
            bottom: 8px;
            left: 50%;
            position: absolute;
            text-align: center;
            transform: translateX(-50%);
        }
    }
}
