<h2>Welcome to F1 Sport Predictor - a game for Formula 1 fans</h2>
<h4>Join anytime during the racing season<br>Predict Qualifying and Race results<br>Compete with friends and other contestants</h4>

<div *ngIf="{
    currentUser: currentUser | async,
    isDarkMode: isDarkMode | async,
    lastRegisteredUserFullName: lastRegisteredUserFullName | async,
    mostSelectableDriversChart: mostSelectableDriversChart | async,
    newsList: newsList | async,
    nextRaceRound: nextRaceRound | async,
    users: users | async,
    visibleRaces : visibleRaces | async
} as data" class="container" [class.dark]="data.isDarkMode">
    <div class="row">
        <mat-card>
            <mat-card-title>News</mat-card-title>
            <mat-card-subtitle>Read latest Formula 1 news</mat-card-subtitle>
            <div>
                <div class="tile-content-row" *ngFor="let news of data.newsList">
                    <img class="news-thumbnail" [src]="news.enclosure">
                    <span>{{news.title}}</span>
                </div>
            </div>
            <div class="button-bar">
                <button mat-button routerLink="/news" (click)="showPage(Page.News)">
                    <mat-icon>newspaper</mat-icon>
                    Read news
                </button>
            </div>
        </mat-card>

        <mat-card>
            <mat-card-title>Calendar</mat-card-title>
            <mat-card-subtitle>See full season calendar, discover circuits'</mat-card-subtitle>
            <table>
                <tr class="tile-content-row" *ngFor="let race of data.visibleRaces">
                    <td [class.current]="race.round == data.nextRaceRound"
                        [class.old]="race.round < (data.nextRaceRound ?? 0)">#{{race.round}}</td>
                    <td [class.current]="race.round == data.nextRaceRound"
                        [class.old]="race.round < (data.nextRaceRound ?? 0)">{{formatDate(race.date)}}</td>
                    <td><img class="flag" [src]="getFlagLink(race.Circuit.Location.country)"/></td>
                    <td class="race-name"
                        [class.current]="race.round == data.nextRaceRound"
                        [class.old]="race.round < (data.nextRaceRound ?? 0)">{{race.raceName}}</td>
                </tr>
            </table>
            <div class="button-bar">
                <button mat-button routerLink="/calendar" (click)="showPage(Page.Calendar)">
                    <mat-icon>event</mat-icon>
                    See calendar
                </button>
            </div>
        </mat-card>

        <mat-card>
            <mat-card-title>Account</mat-card-title>
            <mat-card-subtitle>Create an account and/or log in to play</mat-card-subtitle>
            <div>
                <h3>
                    Total players<br>
                    <span class="large">{{data.users?.length}}</span>
                </h3>
                <h3>
                    Last registered<br> 
                    <span class="large">{{data.lastRegisteredUserFullName}}</span>
                </h3>
            </div>
            <div class="button-bar" *ngIf="!data.currentUser">
                <button mat-button (click)="createAccount()">
                    <mat-icon>person_add</mat-icon>
                    Create account
                </button>
                <button mat-button (click)="login()">
                    <mat-icon>login</mat-icon>
                    Log in
                </button>
            </div>
        </mat-card>
    </div>

    <div class="row">
        <mat-card>
            <mat-card-title>Game rules</mat-card-title>
            <mat-card-subtitle>Read the game rules</mat-card-subtitle>
            <div class="tile-content-row">
                <p>+<coin [value]="DRIVER_IN_LIST_PTS" color="#cfd8dc"></coin> point - each correct driver on the list</p>
                <p>+<coin [value]="DRIVER_PLACE_PTS" color="#ffc107"></coin> points - each correct driver position</p>
            </div>
            <div class="button-bar">
                <button mat-button routerLink="/rules" (click)="showPage(Page.GameRules)">
                    <mat-icon>question_mark</mat-icon>
                    Read full game rules
                </button>
            </div>
        </mat-card>
    
        <mat-card>
            <mat-card-title>Play game</mat-card-title>
            <mat-card-subtitle>See full player standings<br>Predict next Qual and Race results</mat-card-subtitle>
            
            <table class="user-standings">
                <thead>
                    <td>Plc</td>
                    <td>Name</td>
                    <td>Pts</td>
                </thead>
                <ng-container *ngFor="let user of data.users; let index = index">
                    <tr *ngIf="index < 5 || user.id === data.currentUser?.id" [class.current]="user.id === data.currentUser?.id">
                        <td>{{index + 1}}</td>
                        <td class="full-name">{{getFullUserName(user)}}</td>
                        <td>{{user.seasonpoints}}</td>
                    </tr>
                </ng-container>
            </table>

            <div class="button-bar">
                <button mat-button routerLink="/game" (click)="showPage(Page.FullResults)">
                    <mat-icon>lightbulb</mat-icon>
                    Make prediction
                </button>
            </div>
        </mat-card>
    
        <mat-card>
            <mat-card-title>Charts</mat-card-title>
            <mat-card-subtitle>See charts with statistics</mat-card-subtitle>
            <div><div echarts [options]="data.mostSelectableDriversChart!" class="chart"></div></div>
            <div class="button-bar">
                <button mat-button routerLink="/charts" (click)="showPage(Page.Charts)">
                    <mat-icon>query_stats</mat-icon>
                    See charts
                </button>
            </div>
        </mat-card>
    </div>
</div>
