@import "~@angular/material/theming";
@include mat-core();

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$blue-200: #90caf9;
$blue-300: #64b5f6;
$blue-500: #1e88e5;
$blue-800: #1565c0;

$toolbar-height: 40px;

$mat-primary-scheme: (
  100: #c5cae9,
  500: #61699a,
  700: #303f9f,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: #ffffff,
    700: #ffffff,
  ),
);

$mat-accent-scheme: (
  100: #ff80ab,
  500: #ff4081,
  700: #f50057,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  ),
);

$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);
$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);

  transition: background-color 1s ease;
  transition: color 1s ease;
}

.dark-mode {
  @include angular-material-theme($app-dark-theme);

  background-color: $grey-900;
  color: $grey-100;

  transition: background-color 1s ease;
  transition: color 1s ease;
}

html, body { 
    height: 100%; 
}

body {
  transition: background-color 0.5s ease;
  transition: color 1s ease;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
