@import '../../styles.scss';


.container {
    height: 100%;
    overflow: auto;

    .mat-row {
        height: 44px;
    }

    .mat-header-cell {
        text-align: center;
    }

    .mat-cell {
        padding: 0 16px;

        .flag {
            border: 1px solid grey;
            border-radius: 4px;
        }

        .flag, .circuit {
            vertical-align: middle;
        }
    }

    .flag {
        height: 24px;
    }

    .circuit-small {
        cursor: pointer;
        height: 40px;
        transition: transform .2s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .current {
        color: $blue-800;
    }

    .old {
        color: $grey-500;
    }

    .dark .current {
        color: $blue-200;
    }
}
