<ng-container *ngIf="{
    calendarRaces: calendarRaces | async,
    constructorResults: constructorResults | async,
    constructorStandings: constructorStandings | async,
    isDarkMode: isDarkMode | async,
    driverStandings: driverStandings | async,
    finishedRaces: finishedRaces | async,
    driverResults: driverResults | async
} as data">
    <div class="legend">
        <div class="item"><div class="box first"></div>&nbsp;- 1st position</div>
        <div class="item"><div class="box second"></div>&nbsp;- 2nd position</div>
        <div class="item"><div class="box third"></div>&nbsp;- 3rd position</div>
        <div class="item"><div class="box has-points"></div>&nbsp;- other points position</div>
        <div class="item"><div class="box no-points"></div>&nbsp;- no-points position</div>
    </div>

    <div class="header">
        <mat-button-toggle-group [formControl]="driverStandingsControl">
            <mat-button-toggle checked value="positions">Positions</mat-button-toggle>
            <mat-button-toggle value="points">Points</mat-button-toggle>
        </mat-button-toggle-group>
        
        <h2>Drivers' Championship standings</h2>
    </div>

    <table *ngIf="data.driverResults" [class.dark]="data.isDarkMode">
        <tr>
            <td class="position">Pos</td>
            <td class="driver-name">Driver</td>
            <td *ngFor="let race of data.calendarRaces">
                <img class="flag" [src]="getFlagLink(race.Circuit.Location.country)" />
            </td>
            <td class="wins">Wins</td>
            <td class="points">Points</td>
        </tr>

        <tr *ngFor="let driverStanding of data.driverStandings">
            <td>{{driverStanding.position}}</td>
            <td class="driver-name">
                <img class="bolid" [src]="getDriverBolidPath(driverStanding.Driver.familyName)"/>
                {{driverStanding.Driver.familyName}}
            </td>
            <ng-container *ngFor="let race of data.finishedRaces; let index = index">
                <td *ngIf="{
                    points: getDriverPointsInRace(data.driverResults, index, driverStanding.Driver),
                    position: getDriverPositionInRace(data.driverResults, index, driverStanding.Driver)
                } as innerData"
                    [class.first]="innerData.position == 1"
                    [class.second]="innerData.position == 2"
                    [class.third]="innerData.position == 3"
                    [class.has-points]="innerData.position > 3 && innerData.position <= 10"
                    [class.no-points]="innerData.position > 10">
                    {{(driverStandingsControl.value === 'points' ? innerData.points : innerData.position) || ''}}
                </td>
            </ng-container>
            <td *ngFor="let empty of Array(data.calendarRaces?.length! - data.finishedRaces?.length!).fill(1); let index = index"></td>
            <td><b>{{Number(driverStanding.wins) || ''}}</b></td>
            <td><b>{{driverStanding.points}}</b></td>
        </tr>
    </table>

    
    <div class="header">
        <mat-button-toggle-group [formControl]="constructorStandingsControl">
            <mat-button-toggle checked value="positions">Positions</mat-button-toggle>
            <mat-button-toggle value="points">Points</mat-button-toggle>
        </mat-button-toggle-group>

        <h2>Constructors' Championship standings</h2>
    </div>

    <table *ngIf="data.driverResults && data.constructorResults" [class.dark]="data.isDarkMode">
        <tr>
            <td class="position">Pos</td>
            <td class="driver-name">Team</td>
            <td *ngFor="let race of data.calendarRaces">
                <img class="flag" [src]="getFlagLink(race.Circuit.Location.country)" />
            </td>
            <td class="wins">Wins</td>
            <td class="points">Points</td>
        </tr>
    
        <tr *ngFor="let constructorStanding of data.constructorStandings">
            <td>{{constructorStanding.position}}</td>
            <td class="driver-name">
                <img class="bolid" [src]="getConstructorBolidPath(constructorStanding.Constructor.constructorId)" />
                {{constructorStanding.Constructor.name.replace(' F1 Team', '')}}
            </td>
            <ng-container *ngFor="let race of data.finishedRaces; let index = index">
                <td *ngIf="{
                    points: getConstructorPointsInRace(data.driverResults[index], constructorStanding.Constructor.constructorId),
                    position: getConstructorPositionInRace(data.constructorResults, index, constructorStanding.Constructor)
                } as innerData"
                    [class.first]="innerData.position == 1" [class.second]="innerData.position == 2"
                    [class.third]="innerData.position == 3"
                    [class.has-points]="innerData.position > 3 && innerData.position <= 10"
                    [class.no-points]="innerData.position > 10">
                    {{(constructorStandingsControl.value === 'points' ? innerData.points : innerData.position) || ''}}
                </td>
            </ng-container>
            <td *ngFor="let empty of Array(data.calendarRaces?.length! - data.finishedRaces?.length!).fill(1); let index = index"></td>
            <td><b>{{Number(constructorStanding.wins) || ''}}</b></td>
            <td><b>{{constructorStanding.points}}</b></td>
        </tr>
    </table>
</ng-container>
