<ng-container *ngIf="{
    currentUser: currentUser | async,
    isDarkMode: isDarkMode | async,
    predictions: currentUserPredictions | async,
    results: currentUserResults | async
} as data">
    <table mat-table [class.dark]="data.isDarkMode" [dataSource]="currentUserPredictions">
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div><img [src]="loadedImage | async" class="loadedImage"></div>
    <div *ngIf="progressInfo">
        <span>{{progressInfo.fileName}}</span>
        <mat-toolbar class="progress-bar">
            <mat-progress-bar color="accent" [value]="progressInfo.value"></mat-progress-bar>
            <span class="progress">{{progressInfo.value}}%</span>
        </mat-toolbar>
    </div>
    
    <mat-form-field>
        <div>
            <mat-toolbar>
                <input matInput [value]="selectedFileName"/>
                <button mat-flat-button color="primary" (click)="upload(data.currentUser)">Upload</button>
            </mat-toolbar>
    
            <input type="file" id="fileInput" name="fileInput" accept="image/*" (change)="selectFile($event)" />
        </div>
    </mat-form-field>
    
    <div><img [src]="uploadedImage" class="loadedImage"></div>
    <div *ngIf="message" class="message"><ul><li>{{message}}</li></ul></div>
</ng-container>
