@import '../../styles.scss';


.menu {
    height: 100%;
    padding-left: 8px;
    padding-top: calc($toolbar-height + 12px);
    position: fixed;
    text-align: center;
    top: 0;
    width: $side-menu-width;

    &.dark {
       background-color: $grey-900; 

       button {
            &.current, &:hover {
                color: $blue-200;
            }
        }
    }

    button {
        margin-top: 16px;

        &.current, &:hover {
            color: $blue-800;
        }
    }
}
