<ng-container *ngIf="{
    isDarkMode: isDarkMode | async,
    page: page | async
} as data">
    <div class="menu" [class.dark]="isDarkMode | async">
        <button *ngIf="false"
            mat-icon-button
            matTooltip="Dashboard"
            routerLink="/dashboard"
            [class.current]="data.page === Page.Dashboard"
            (click)="showPage(Page.Dashboard)">
            <mat-icon>grid_view</mat-icon>
        </button>

        <button 
            mat-icon-button
            matTooltip="News"
            routerLink="/news"
            [class.current]="data.page === Page.News"
            (click)="showPage(Page.News)">
            <mat-icon>newspaper</mat-icon>
        </button>

        <button 
            mat-icon-button 
            matTooltip="Calendar" 
            routerLink="/calendar" 
            [class.current]="data.page === Page.Calendar"
            (click)="showPage(Page.Calendar)">
            <mat-icon>event</mat-icon>
        </button>

        <button 
            mat-icon-button
            matTooltip="Game rules"
            routerLink="/rules"
            [class.current]="data.page === Page.GameRules"
            (click)="showPage(Page.GameRules)">
            <mat-icon>question_mark</mat-icon>
        </button>

        <button
            mat-icon-button
            matTooltip="Prediction game"
            routerLink="/game"
            [class.current]="data.page === Page.FullResults"
            (click)="showPage(Page.FullResults)">
            <mat-icon>lightbulb_outline</mat-icon>
        </button>

        <button
            mat-icon-button
            matTooltip="Charts"
            routerLink="/charts"
            [class.current]="data.page === Page.Charts"
            (click)="showPage(Page.Charts)">
            <mat-icon>query_stats</mat-icon>
        </button>


    </div>
</ng-container>
