@import '../../styles.scss';


.menu {
    height: 100%;
    padding-left: 4px;
    padding-top: calc($toolbar-height + 12px);
    position: fixed;
    text-align: center;
    top: 0;
    width: $side-menu-width;

    &.dark {
       background-color: $grey-900; 

       button.current {
           color: $blue-200;
       }
    }

    button {
        margin-top: 16px;

        &.current {
            color: $blue-800;
        }
    }
}
