<ng-container *ngIf="{
    isCurrentUserAdmin: isCurrentUserAdmin | async,
    isDarkMode: isDarkMode | async,
    page: page | async
} as data">
    <div class="menu"
            [class.dark]="data.isDarkMode"
            [class.is-admin]="data.isCurrentUserAdmin"
            [class.wide]="isOpen"
            (mouseenter)="isOpen = true"
            (mouseleave)="isOpen = false">
        <div>
            <button
                mat-icon-button
                routerLink="/dashboard"
                [class.current]="data.page === Page.Dashboard"
                (click)="showPage(Page.Dashboard)">
                <mat-icon>grid_view</mat-icon>
                <span class="button-text">Dashboard</span>
            </button>
        </div>

        <div>
            <button 
                mat-icon-button 
                routerLink="/game" 
                [class.current]="data.page === Page.FullResults"
                (click)="showPage(Page.FullResults)">
                <mat-icon>lightbulb_outline</mat-icon>
                <span class="button-text">Prediction game</span>
            </button>
        </div>

        <div *ngIf="0">
            <button
                mat-icon-button
                routerLink="/standing"
                [class.current]="data.page === Page.Standing"
                (click)="showPage(Page.Standing)">
                <mat-icon>table_chart</mat-icon>
                <span class="button-text">Season standings</span>
            </button>
        </div>

        <div>
            <button 
                mat-icon-button
                routerLink="/news"
                [class.current]="data.page === Page.News"
                (click)="showPage(Page.News)">
                <mat-icon>newspaper</mat-icon>
                <span class="button-text">News</span>
            </button>
        </div>

        <div>
            <button 
                mat-icon-button 
                routerLink="/calendar" 
                [class.current]="data.page === Page.Calendar"
                (click)="showPage(Page.Calendar)">
                <mat-icon>event</mat-icon>
                <span class="button-text">Calendar</span>
            </button>
        </div>

        <div>
            <button 
                mat-icon-button
                routerLink="/rules"
                [class.current]="data.page === Page.GameRules"
                (click)="showPage(Page.GameRules)">
                <mat-icon>question_mark</mat-icon>
                <span class="button-text">Game rules</span>
            </button>
        </div>

        <div>
            <button
                mat-icon-button
                routerLink="/charts"
                [class.current]="data.page === Page.Charts"
                (click)="showPage(Page.Charts)">
                <mat-icon>query_stats</mat-icon>
                <span class="button-text">Players stats</span>
            </button>
        </div>

        <div *ngIf="0">
            <button 
                mat-icon-button routerLink="/account"
                [class.current]="data.page === Page.Account"
                (click)="showPage(Page.Account)">
                <mat-icon>account_circle</mat-icon>
                <span class="button-text">Account</span>
            </button>
        </div>

        <div *ngIf="data.isCurrentUserAdmin">
            <button mat-icon-button routerLink="/admin" [class.current]="data.page === Page.Admin"
                (click)="showPage(Page.Admin)">
                <mat-icon>admin_panel_settings</mat-icon>
                <span class="button-text">Admin</span>
            </button>
        </div>
    </div>
</ng-container>
